*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }
html {
    font-size: 10px;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

body {
    background-color: $light;
    margin-bottom: 10rem;
    color: #666;
}
h1, h2, h3, h4, h5, h6 {
    font-family: Oswald,sans-serif;
}